h1 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 2em;

}

h2 {

  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: left;
  font-size: 1.3em;
  font-style: bold;

}

.tooltip {
    position: fixed;
    top: 1em;
    left: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 10px;
    backdrop-filter: blur(2.5px);
    padding: 0.8em;
    display: block;

    p {
      font-weight: bold;
    }
}

dd {
  margin: 0 0 10px 0px;
}

@keyframes marching-ants {
    to {
      stroke-dashoffset: -8;
        }
    }
  
.selection {
    fill-opacity: 0.1;
    stroke: black;
    stroke-opacity: 0.7;
    stroke-dasharray: 5 3;
    animation: marching-ants 2s linear infinite;
  }

#brush-stats {
    position: absolute; 
    bottom: 50px; 
    right: 10px;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    display: none;
    font-size: 1vw;
}

.current {
  font-weight: bold;
}

#legend-container {
  border: 2px solid black !important;
  min-width: 100px;
  max-width: 1000px;
  top: 60px;
  right: 20px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 1vw;
  padding-left: 10px;
  display: inline-block;
  align-content: center;

  .legend_title {
    font-size: 15px;
  }

  .class_title {
    font-size: 13px;
  }
  
  .students_title {
    font-size: 13px;
  }
}



.buttons {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(10, 1fr);
}

.exams {
  width: 100%; /* Full width of the page */
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(3, minmax(0, 1fr)); /* 3 equal columns */
  margin: 0.1em;
}

button {
  height: 2em;
  background-color: white;
  font-size: 1.2vw;
  margin: 0.1em;

  .exams {
    font-size: 3vw;
  }
}

button:hover {
  background-color: lightgray;
  transition-duration: 0.2s;
}

button.current {
  color: white;
}

button[data-value="Student 1"] {
  border-color: #1f77b4;
}
button.current[data-value="Student 1"] {
  background-color: #1f77b4;
}

button[data-value="Student 2"] {
  border-color: #ff7f0e;
}
button.current[data-value="Student 2"] {
  background-color: #ff7f0e;
}

button[data-value="Student 3"] {
  border-color: #2ca02c;
}
button.current[data-value="Student 3"] {
  background-color: #2ca02c;
}

button[data-value="Student 4"] {
  border-color: #d62728;
}
button.current[data-value="Student 4"] {
  background-color: #d62728;
}

button[data-value="Student 5"] {
  border-color: #9467bd;
}
button.current[data-value="Student 5"] {
  background-color: #9467bd;
}

button[data-value="Student 6"] {
  border-color: #8c564b;
}
button.current[data-value="Student 6"] {
  background-color: #8c564b;
}

button[data-value="Student 7"] {
  border-color: #e377c2;
}
button.current[data-value="Student 7"] {
  background-color: #e377c2;
}

button[data-value="Student 8"] {
  border-color: #523549;
}
button.current[data-value="Student 8"] {
  background-color: #523549;
}

button[data-value="Student 9"] {
  border-color: #bcbd22;
}
button.current[data-value="Student 9"] {
  background-color: #bcbd22;
}

button[data-value="Student 10"] {
  border-color: #17becf;
}
button.current[data-value="Student 10"] {
  background-color: #17becf;
}

button[data-value="Midterm 1"] {
  border-color: #dfa163;
}
button.current[data-value="Midterm 1"] {
  background-color: #dfa163;
}

button[data-value="Midterm 2"] {
  border-color: #769d7a;
}
button.current[data-value="Midterm 2"] {
  background-color: #769d7a;
}

button[data-value="Final"] {
  border-color: #ac83c4;
}
button.current[data-value="Final"] {
  background-color: #ac83c4;
}

.updatemain {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(10, 1fr);
}

.mainselect {
  height: 1.5em;
}